In [5]:
l1=[5,7,9,23,54,67,53,89,11]
lar=max(l1)
print(lar)

89

In [7]:
l1=[12,3,45,6,4]
def largest_number(numbers):
    if not numbers:
        return none
    largest=numbers[0]
    for number in numbers:
        if number > largest:
            largest=number
    return largest
print("the largest number is:",largest_number(l1))

the largest number is: 45

In [9]:
li=[1,2,3,3,7,9]
result=[]
for item in li:
    if item not in result:
        result.append(item)
print("final list without duplicates is:",result)

final list without duplicates is: [1, 2, 3, 7, 9]

In [10]:
l1=[1,4,23,42,22,1]
a=set(l1)
print(a)

{1, 4, 42, 22, 23}

In [15]:
t=(("blue",2),("berry",3),("cherry",6))
result=dict(t)
print(result)

{'blue': 2, 'berry': 3, 'cherry': 6}

In [21]:
d1={1:"jaseem",2:"aami",3:"roshan",4:"linto"}
d2={5:"shifana",6:"nahyan",7:"aswin"}
res=d1 | d2
print(res)

{1: 'jaseem', 2: 'aami', 3: 'roshan', 4: 'linto', 5: 'shifana', 6: 'nahyan', 7: 'aswin'}

In [22]:
d1={1:"jaseem",2:"aami",3:"roshan",4:"linto"}
d2={4:"athulya",5:"shifana",6:"nahyan",7:"aswin"}
res=d1 | d2
print(res)

{1: 'jaseem', 2: 'aami', 3: 'roshan', 4: 'athulya', 5: 'shifana', 6: 'nahyan', 7: 'aswin'}

In [23]:
d1={1:"jaseem",2:"aami",3:"roshan",4:"linto"}
d2={4:"linto",5:"shifana",6:"nahyan",7:"aswin"}
res=d1 | d2
print(res)

{1: 'jaseem', 2: 'aami', 3: 'roshan', 4: 'linto', 5: 'shifana', 6: 'nahyan', 7: 'aswin'}

In [24]:
l1=[12,3,43,23,16,7,15]
l2=[23,41,5,6,16]
common=False
for i in l1:
    if i in l2:
        common=True
        break
print(common)

True